
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&display=swap');
body {

    font-family: 'Fira Sans', sans-serif;
   line-height: 15px;
}

.container {
    box-sizing: border-box;
    position: relative;
    width: 1080px;
    height: 793px;
    background-color:#0d7587;
}

.wrapper {
    display: flex;
    border-radius: 30px;
    position: absolute;
    width: 897px;
    height: 660px;
    margin: 66px 91px;
    background-color:white;
}

/* orange Box */
.orange_box {
    position: relative;
    margin: 304px 365px 209px 280px;
    width: 348px;
    height: 280px;
    margin: 238px 273px 143px 275px;
    color:white;
    border-radius: 30px;
    background-color:#ff5216;
    background: rgba(243, 71, 14, 0.801);
}

.quotes {
    position: absolute;
    margin: 36px 283px 220px 32px;
}

.quotes img {
    position: absolute;
}

.para {
    position: absolute;
    width: 279px;
    height: 125px;
    margin: 88px 38px 67px 31px;
    font-size: 11px;
}

.imgblock img {
    position: absolute;
    width: 245px;
    height: 355px;
    margin: 48px 596px 257px 56px;
    border-radius: 30px;
}

.age {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 220px;
    height: 115px;
    margin: 403px 621px 142px 56px;
}

h2 {
    position: absolute;
    color: #021335;
    font-size: 11px;
}

.one {
    margin: 32px 166px 72px 32px;
}

.two {
    margin: 53px 140px 51px 32px;
}

.three {
    margin: 74px 129px 30px 32px;
}

.four {
    margin: 96px 142px 6px 32px;
}

.right {
    width: 89px;
    height: 81px;
    margin-left: 100px;
    margin-top: 33px;
    margin-bottom: 6px;
    line-height: 20px;
    color:#717886;
}

.five {
    margin-top: 0px;
    color:#717886;
    font-weight: lighter;
}

.six {
    margin-top: 0px;
    
     font-weight: lighter;
}

.seven {
    margin-top: 0px;
    color: #717886;
     font-weight: lighter;
}

.eight {
    margin-top: 0px;
   
     font-weight: lighter;
}

.about_me p {
    font-size: 11px;
   
    margin: 23px 46px 20px 60px;
}

.about_me h2 {
    margin: 0 211px 174px 60px;
}

.about_me {
    position: absolute;
    width: 323px;
    height: 190px;
    margin: 48px 273px 422px 301px;
}

.third_column {
    position: absolute;
    width: 273px;
    height: 470px;
    margin: 48px 0 142px 624px;
}

.goals {
    position: absolute;
    width: 273px;
    height: 141px;
    font-size: 11px;
}

.goals p {
    margin-top: 23px;
    margin-left: 14px;
    color: #717886;
    width: 214px;
    height: 144px;
}

.goals h2 {
    margin: 0 229px 454px 14px;
}

.needs {
    position: absolute;
    width: 273px;
    height: 111px;
    margin-top: 140px;
    font-size: 11px;
    color: #717886;
}

.needs p {
    margin: 33px 35px 5px 14px;
}

.needs h2 {
    margin-top: 13px;
    margin-left: 14px;
}

.pain_points {
    position: absolute;
    width: 273px;
    height: 219px;
    margin-top: 251px;
    color: #717886;
    font-size: 11px;
}

.pain_points ul {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 35px;

}

.pain_points li {
    margin-bottom: 5px;
    margin-left: 0;
}

.pain_points h2 {
    margin-top: 10px;
    margin-left: 14px;
    padding-bottom: 20px;
}

footer {
    display: grid;
    grid-template-columns: 276px 221px 399px;
    grid-template-rows: 142px 142px 142px;
    position: absolute;
    width: 897px;
    height: 142px;
    margin: 518px 0 0 0;
    border-radius: 30px;
}

.slide1 {
    border-radius: 30px;
}

.slide2 {
    border-radius: 30px;
}

.slide3 {
    border-radius: 30px;
}

.chair img {
    position: absolute;
    width: 190px;
    height: 160px;
    margin-left: 760px;
    z-index: 1;
    top: -29px;
    
}


.slider {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 190px;
    height: 52px;
    left: 54px;
    top: 41px;
    padding: 0;
    margin-bottom: 0px;
}
.slide1 h2 {
    margin: 25px 165px 107px 54px;
}

.slider2 {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top:30px;
    width: 190px;
}

.slider3 {
    display: flex;
    flex-direction: column;
    left: 54px;
   margin-top:30px;
    width: 190px;
    height: 55px;
    margin-left: 36px;
}

figcaption {
    font-size: 8px;
    color: #717886;
    margin-top: 10px;
    width: 190px;
}
.analytic{
    color: #717886;
}
.span1{
   margin-left: 125px;
}
.span2{
margin-left:125px;
}
.span3{
  margin-left:134px;  
}
.span4{
   margin-left:130px; 
}
.span5{
    margin-left:94px;
}
.span6{
  margin-left:140px;  
}